<mat-drawer-container class="container">
  <mat-toolbar color="primary">
    <span> Gestion usuarios </span>
    <span class="spacer"></span>
    <button mat-button routerLink="">
      <mat-icon>view_headline</mat-icon>
      Lista Usuarios
    </button>

    <button mat-button routerLink="create">
      <mat-icon>add</mat-icon>
      Agregar Usuario
    </button>
  </mat-toolbar>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
