<h1 mat-dialog-title>¿Desea eliminar este registro?</h1>
<div mat-dialog-content>
  <h2>{{ data.firstName }} {{ data.lastName }}</h2>
</div>
<div mat-dialog-actions class="mat-dialog-actions-full-width">
  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    (click)="performDelete(data.id)"
  >
    Confirmar
  </button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
