<div class="container">
  <mat-card>
    <mat-card-content>
      <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
        <div class="form-container">
          <h1>Crear nuevo usuario</h1>
          <mat-form-field appearance="outline">
            <mat-label>Ingresa tu primer nombre</mat-label>
            <input type="text" matInput required formControlName="firstName" />
            <mat-hint *ngIf="handlers.errors">{{handlers.errors.firstName}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingresa tu primer apellido</mat-label>
            <input type="text" matInput required formControlName="lastName" />
            <mat-hint *ngIf="handlers.errors">{{handlers.errors.lastName}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingresa otro nombre</mat-label>
            <input type="text" matInput formControlName="otherName" />
            <mat-hint *ngIf="handlers.errors">{{handlers.errors.otherName}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Pais</mat-label>
            <mat-select formControlName="country">
              <mat-option value="CO">CO</mat-option>
              <mat-option value="USA">USA</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
          </mat-form-field>

          <button mat-raised-button color="primary">Agregar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
