.container{
    padding: 4rem 0;    
    display: flex;
    justify-content: center;      
}

.form-container{
    display: flex;
    flex-direction: column;
    min-width: 450px;        
    padding: 2rem;        
}

.form-container h1{
    text-align: center;
}

.form-container button {
    margin-top: 1.5rem;
}